<!DOCTYPE html>
<html>
<head>
    <title>My CMS</title>
</head>
<body>
<h1><a href="/new-article">New Article</a></h1>
<hr/>
<h2>List of articles:</h2>
{% for article in articles %}
    <h2><a href="/?title={{ article.title|url_encode }}">{{ article.title }}</a></h2>
    <br/>
{% endfor %}
</body>
</html>