<!DOCTYPE html>
<html>
<head>
    <title>My CMS</title>
</head>
<body>
<a href="/">GO BACK</a>
<form action="editArticle.php">
    <label> TITLE
        <input type="text" name="title" value="{{ title }}" required>
    </label><br/>
    <hr/>
    <label> CONTENT
        <input type="text" name="content" value="{{ content }}" required>
    </label><br/>
    <hr/>
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>