<!DOCTYPE html>
<html>
<head>
    <title>My CMS</title>
</head>
<body>
<a href="/">GO BACK</a>
<form action="newArticle.php">
    <label> TITLE
        <input type="text" name="title" placeholder="a title" required>
    </label><br/>
    <hr/>
    <label> CONTENT
        <input type="text" name="content" placeholder="some quality content" required>
    </label><br/>
    <hr/>
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>